* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 32px 1%;
    margin: 0 auto;
}

li {
    margin-top: 16px;
}