<div class="bg-middle-foot">
	<div class="middle-footer container">
		<figure class="more middle-footer-left">
			<img src="img/ava.png" alt="ava">
			<figcaption class="middle-text">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a
				pulvinar purus condimentum“</figcaption>
		</figure>
		<form action="#" class="more middle-footer-right">
			<h3 class="middle-h3">SUBSCRIBE</h3>
			<p class="middle-text-right">FOR OUR NEWLETTER AND PROMOTION</p>
			<div class="submit">
				<input class="input-for-button-footer" type="email" placeholder="Enter Your Email">
				<button class="button-middle-footer">Subscribe</button>
			</div>
		</form>
	</div>
</div>
<div class="end-footer">
	<div class="end-groop container">
		<p class="end-text-footer">&copy; 2021 Brand All Rights Reserved.</p>
		<div class="img-groop">
			<a href="https://www.facebook.com/" target="_blank">
				<div class="social-networks-groop">
					<i class="fab fa-facebook-f net-img"></i>
				</div>
			</a>
			<a href="https://www.instagram.com/" target="_blank">
				<div class="social-networks-groop">
					<i class="fab fa-instagram net-img"></i>
				</div>
			</a>
			<a href="https://www.pinterest.ru/" target="_blank">
				<div class="social-networks-groop">
					<i class="fab fa-pinterest-p net-img"></i>
				</div>
			</a>
			<a href="https://twitter.com/?lang=ru" target="_blank">
				<div class="social-networks-groop">
					<i class="fab fa-twitter net-img"></i>
				</div>
			</a>
		</div>
	</div>
</div>