<div class="footer-top">
	<div class="extra container">
		<figure class="ett">
			<img class="foot-img" src="img/lorin.svg" alt="lorin">
			<h3 class="footer-top-heading">Free Delivery</h3>
			<p class="footer-top-text">Worldwide delivery on all. Authorit tively morph next-generation
				innov tion with extensive models.</p>
		</figure>
		<figure class="ett">
			<img class="foot-img" src="img/sales.svg" alt="sales">
			<h3 class="footer-top-heading">Sales & discounts</h3>
			<p class="footer-top-text ett-center">Worldwide delivery on all. Authorit tively morph
				next-generation innov tion with extensive models.</p>
		</figure>
		<figure class="ett">
			<img class="foot-img" src="img/crown.svg" alt="crown">
			<h3 class="footer-top-heading">Quality assurance</h3>
			<p class="footer-top-text">Worldwide delivery on all. Authorit tively morph next-generation
				innov tion with extensive models.</p>
		</figure>
	</div>
</div>